{% extends 'CoreAdminBundle:admin:layout.html.twig' %}
{% block content %}
    
    <div class="container">

        <div class="container"></div>
        	<table border="0px" width="100%" height="auto" cellspacing="3" cellpading="3">
	        	 <tr>
		            <td align="center"><img src="{{ asset('bundles/login/imgs/bg-l.png') }}"></td>
		        </tr>
		        <tr>
		            <td align="center"><font size="6">Sistema de control de usuarios para la red WiFi</font></td>
		        </tr>
		    </table>
        <footer></footer>
    </div>

{% endblock %}