{% extends 'CoreAdminBundle:login:layout.html.twig' %}
{% block content %}
        
        <table border="0px" width="100%" height="auto" cellspacing="3" cellpading="3">
            <!--  BANER SUPERIOR -->
            <tr cellspan="3">
                <td align="center"><img src="/web/bundles/login/imgs/BannerH.jpg"></td>
            </tr>
            <tr cellspan="3"><td>&nbsp;<br />&nbsp;</td></tr>
            <tr>
                <td width="80%" align="center">
                    <div class="container">

                        <table border="0px" width="80%" height="auto" cellspacing="3" cellpading="3">
                            {% if msg %}
                            <tr cellspan="2"><div id="msg">{{ msg }}<div></tr>
                            {% endif %}
                            <tr cellspan="2">&nbsp;</tr>
                            <tr>
                                <td width="60%" align="left">
                                    <div style="margin-left:100px;">{{ form(form) }}</div>
                                </td>
                                <td width="10%" align="center"></td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center"></td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;<br />&nbsp;</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr cellspan="3"><td>&nbsp;<br />&nbsp;</td></tr>
            <!--  BANER SUPERIOR -->
            <tr>
                <td align="center"><img src="/web/bundles/login/imgs/BannerH.jpg"</td>
            </tr>
        </table>
        
{% endblock %}
