<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>:: UVM ::</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <form name="zd_form" method="POST" action="{{ url }}">
            <table class="table_first" border="0px" width="40%" height="auto" cellspacing="5" cellpading="5">
                <tr>
                    <td><font size="5">Usuario:</font></td>
                    <td><input type="text" name="username" placeholder="nombre de usuario" value="{{ user }}"></td>
                </tr>
                <tr>
                    <td><font size="5">Password:</font></td>
                    <td><input type="password" name="password"  placeholder="contraseña" value="{{ pass }}"></td>
                </tr>
            </table>
        </form>

        <script src="{{ asset('bundles/core/js/vendor/jquery-1.10.1.min.js') }}"></script>

        <script type="text/javascript">
            $(document).ready(function() { document.zd_form.submit(); });
        </script>
        
    </body>
</html>
