<!DOCTYPE html>
<body>
    Estimado(a) <b>Usuario</b> esta es su nueva contraseña: <br /><br />
    <b>Nombre de usuario:</b> {{ user }} <br />
    <b>Password:</b> {{ pass }} <br />
    Ingrese a la siguiente dirección para cambiar su password: <a href='http://{{ hostname }}/web/changepass'>CAMBIAR PASSWORD</a>
</body>
</html>
