<!DOCTYPE html>
<body>
    <b>Estimado(a) <i>Usuario</i> ha quedado usted registrado en la red UVM con los siguientes datos: <br /><br /></b>
    <b>Nombre de usuario:</b> {{ user }} <br />
    <b>Password:</b> {{ pass }} <br />
</body>
</html>